In [ ]:
# Command to allow inline matplotlib ploting
%matplotlib notebook

import calendar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style


style.use('fivethirtyeight')

df = pd.read_excel("data_sources/auxiliar.xlsx", skiprows=2)
df = df[df.Fecha.notnull()]
# Useful command to drop rows with specific/partial strings
df[df.NomCuenta.str.contains("Total") == False]
df.drop(['ChequeNumero', 'Doc'], axis=1, inplace=True)
df.rename(inplace=True, columns = {
                                    'NomCuenta':'cuenta_detallada', 
                                    'Tercero':'tercero',
                                    'Notas':'detalle', 'Débitos':'debitos', 
                                    'Créditos':'creditos', 'Saldo':'saldo'
                                })
# df.index = df.Fecha
df['mes'] = pd.DatetimeIndex(df['Fecha']).month
df.cuenta_detallada.fillna(method='ffill', inplace=True)
df['clase'] = df.cuenta_detallada.str[:1]
df['grupo'] = df.cuenta_detallada.str[:2]
df['cuenta'] = df.cuenta_detallada.str[:4]
df['subcuenta'] = df.cuenta_detallada.str[:6]
df['cuenta_especifica'] = df.cuenta_detallada.str[:8]
df['nombre_cuenta'] = df.cuenta_detallada.str[7:]
df['consolidado'] = df.creditos - df.debitos
#df = df[df.mes != 12] # This line drops december of previous year, but careful because it can drop actual december 
#df.index = df.mes
df = df[['clase', 'grupo', 'cuenta', 'subcuenta', 'cuenta_especifica', 'nombre_cuenta', 'cuenta_detallada',
         'tercero', 'Fecha', 'detalle', 'debitos', 'creditos', 'saldo', 'consolidado', 'mes']]

# Command to list the column dtypes.
# df.dtypes"""
df.head()

In [13]:
# This lines defines the query for the pivot table construct
query = 'cuenta == ['
cuentas = (4105, 4110, 4115, 4120, 4125, 4130, 4135, 4140, 4145, 4150, 4155, 4160, 4165,
           4170, 4175, 4205, 4210, 4215, 4220, 4225, 4230, 4235, 4240, 4245, 4248, 4250,
           4255, 4260, 4265, 4275, 4295, 4705, 5105, 5110, 5115, 5120, 5125, 5130, 5135,
           5140, 5145, 5150, 5155, 5160, 5165, 5195, 5199, 5205, 5210, 5215, 5220, 5225,
           5230, 5235, 5240, 5245, 5250, 5255, 5260, 5265, 5270, 5295, 5299, 5305, 5310,
           5315, 5395, 5405, 5905, 6105, 6110, 6115, 6120, 6125, 6130, 6135, 6140, 6145,
           6150, 6155, 6160, 6165, 6170, 6205, 6210, 6215, 6220, 6225, 7105, 7110, 7115,
           7120, 7125, 7130, 7135, 7140, 7145, 7150, 7155, 7160, 7165, 7170, 7175, 7180,
           7185, 7190, 7195, 7200, 7205, 7210, 7215, 7220, 7225, 7230, 7235, 7240, 7245,
           7250, 7255, 7260, 7265, 7270, 7275, 7280, 7285, 7290, 7295, 7300, 7305, 7310,
           7315, 7320, 7325, 7330, 7335, 7340, 7345, 7350, 7355, 7360, 7365, 7370, 7375,
           7380, 7385, 7390, 7395)

# It was nicely done, but doesn't accomplish what I need to do.
indice = [str(i) for i in cuentas]

# Nice try with this, but still not working
# query += ['"' + str(i) + '", ' for i in cuentas]
# So I go with this.
for i in cuentas:
    i = '"' + str(i) + '", '
    query = query + i

query = query + ']'
print(query)

cuenta == ["4105", "4110", "4115", "4120", "4125", "4130", "4135", "4140", "4145", "4150", "4155", "4160", "4165", "4170", "4175", "4205", "4210", "4215", "4220", "4225", "4230", "4235", "4240", "4245", "4248", "4250", "4255", "4260", "4265", "4275", "4295", "4705", "5105", "5110", "5115", "5120", "5125", "5130", "5135", "5140", "5145", "5150", "5155", "5160", "5165", "5195", "5199", "5205", "5210", "5215", "5220", "5225", "5230", "5235", "5240", "5245", "5250", "5255", "5260", "5265", "5270", "5295", "5299", "5305", "5310", "5315", "5395", "5405", "5905", "6105", "6110", "6115", "6120", "6125", "6130", "6135", "6140", "6145", "6150", "6155", "6160", "6165", "6170", "6205", "6210", "6215", "6220", "6225", "7105", "7110", "7115", "7120", "7125", "7130", "7135", "7140", "7145", "7150", "7155", "7160", "7165", "7170", "7175", "7180", "7185", "7190", "7195", "7200", "7205", "7210", "7215", "7220", "7225", "7230", "7235", "7240", "7245", "7250", "7255", "7260", "7265", "7270", "7275", "7280", "7285", "7290", "7295", "7300", "7305", "7310", "7315", "7320", "7325", "7330", "7335", "7340", "7345", "7350", "7355", "7360", "7365", "7370", "7375", "7380", "7385", "7390", "7395", ]

In [ ]:
tb = pd.pivot_table(df, index=['cuenta', 'nombre_cuenta'], values=['consolidado'], 
                    columns=['mes'], aggfunc=np.sum, fill_value=0).query(query)
# tb.cuenta.fillna(method='ffill', inplace=True)
# tb.to_excel('mobius_data/auxiliar_mobius_pivoted.xlsx')
tb

# df.drop(['ChequeNumero', 'Fecha', 'mes', 'soporte'], axis=1, inplace=True)
# Next lines saves the data in excel files.
# df.to_excel('mobius_data/auxiliar_mobius_pivoted.xlsx')

# Next lines plots the resulting data
# tb.drop(['All', ], axis=1, inplace=True)
# tb[['consolidado']].plot()
# plt.show()"""