In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Creating a Series by passing a list of values, letting pandas create a default integer index
s = pd.Series([1,3,5,np.nan,6,8])
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [3]:
# Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  2.581002 -0.815427  0.092482 -0.494332
2013-01-02  0.770181  0.033714 -0.618700 -0.311420
2013-01-03  0.126125 -1.883632  0.365057 -0.015363
2013-01-04  0.511118  1.489701  0.217240 -0.828561
2013-01-05  1.543479  0.290269  0.061514  1.083850
2013-01-06  0.364463 -0.620151 -0.178978  0.930177

In [5]:
# And now creating a DataFrame by passing a dict of objects that can be converted to series-like
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4, dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo' })
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [6]:
# Having specific dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
# Let's check the head and tail of the data.
df.head()

                   A         B         C         D
2013-01-01  2.581002 -0.815427  0.092482 -0.494332
2013-01-02  0.770181  0.033714 -0.618700 -0.311420
2013-01-03  0.126125 -1.883632  0.365057 -0.015363
2013-01-04  0.511118  1.489701  0.217240 -0.828561
2013-01-05  1.543479  0.290269  0.061514  1.083850