In [5]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [2]:
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True, future=True)

In [6]:
with engine.connect() as conn:
    result = conn.execute(text("select 'hello world'"))
    print(result.all())

2021-04-14 07:45:13,407 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-14 07:45:13,408 INFO sqlalchemy.engine.Engine select 'hello world'
2021-04-14 07:45:13,408 INFO sqlalchemy.engine.Engine [generated in 0.00153s] ()
[('hello world',)]
2021-04-14 07:45:13,410 INFO sqlalchemy.engine.Engine ROLLBACK

In [7]:
with engine.connect() as conn:
    conn.execute(text("CREATE TABLE some_table (x int, y int)"))
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 1, "y": 1}, {"x": 2, "y": 4}]
    )
    conn.commit()

2021-04-14 07:52:52,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-14 07:52:52,262 INFO sqlalchemy.engine.Engine CREATE TABLE some_table (x int, y int)
2021-04-14 07:52:52,262 INFO sqlalchemy.engine.Engine [generated in 0.00137s] ()
2021-04-14 07:52:52,264 INFO sqlalchemy.engine.Engine INSERT INTO some_table (x, y) VALUES (?, ?)
2021-04-14 07:52:52,264 INFO sqlalchemy.engine.Engine [generated in 0.00066s] ((1, 1), (2, 4))
2021-04-14 07:52:52,265 INFO sqlalchemy.engine.Engine COMMIT

In [14]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")
    
    print("Resultado",result.all())

2021-04-14 08:17:00,131 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-04-14 08:17:00,132 INFO sqlalchemy.engine.Engine SELECT x, y FROM some_table
2021-04-14 08:17:00,132 INFO sqlalchemy.engine.Engine [cached since 144.1s ago] ()
x: 1  y: 1
x: 2  y: 4
Resultado []
2021-04-14 08:17:00,134 INFO sqlalchemy.engine.Engine ROLLBACK